

/** *********************************************************************** */
/** RALEWAY
/** *********************************************************************** */

@font-face {
    font-family: 'ralewaybold';
    src: url('../fonts/raleway/raleway-bold-webfont.eot');
    src: url('../fonts/raleway/raleway-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway/raleway-bold-webfont.woff2') format('woff2'),
         url('../fonts/raleway/raleway-bold-webfont.woff') format('woff'),
         url('../fonts/raleway/raleway-bold-webfont.ttf') format('truetype'),
         url('../fonts/raleway/raleway-bold-webfont.svg#ralewaybold') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'ralewaymedium';
    src: url('../fonts/raleway/raleway-medium-webfont.eot');
    src: url('../fonts/raleway/raleway-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway/raleway-medium-webfont.woff2') format('woff2'),
         url('../fonts/raleway/raleway-medium-webfont.woff') format('woff'),
         url('../fonts/raleway/raleway-medium-webfont.ttf') format('truetype'),
         url('../fonts/raleway/raleway-medium-webfont.svg#ralewaymedium') format('svg');
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: 'ralewaylight';
    src: url('../fonts/raleway/raleway-light-webfont.eot');
    src: url('../fonts/raleway/raleway-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway/raleway-light-webfont.woff2') format('woff2'),
         url('../fonts/raleway/raleway-light-webfont.woff') format('woff'),
         url('../fonts/raleway/raleway-light-webfont.ttf') format('truetype'),
         url('../fonts/raleway/raleway-light-webfont.svg#ralewaylight') format('svg');
    font-weight: normal;
    font-style: normal;
}


/** *********************************************************************** */
/** DJ GROSS
/** *********************************************************************** */

@font-face {
    font-family: 'dj_grossnormal';
    src: url('../fonts/djgross/DJGROSS-webfont.eot');
    src: url('../fonts/djgross/DJGROSS-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/djgross/DJGROSS-webfont.woff') format('woff'),
         url('../fonts/djgross/DJGROSS-webfont.ttf') format('truetype'),
         url('../fonts/djgross/DJGROSS-webfont.svg#dj_grossnormal') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'permanent_markerregular';
    src: url('../fonts/permanentmarker/PermanentMarker-webfont.eot');
    src: url('../fonts/permanentmarker/PermanentMarker-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/permanentmarker/PermanentMarker-webfont.woff') format('woff'),
         url('../fonts/permanentmarker/PermanentMarker-webfont.ttf') format('truetype'),
         url('../fonts/permanentmarker/PermanentMarker-webfont.svg#permanent_markerregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

