/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}


html {
    color: #111;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html,
body {height: 100%;}
body {
    background: url(../img/cagettes_light.jpg) center center no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    /*font-family: 'ralewaymedium';*/
    font-family: sans-serif;
}

a, a:link, a:visited {
    color: #57075F;
    text-decoration: none;
}
a:hover, a:focus {
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
    /*font-family: 'ralewaybold';*/
    font-family: 'permanent_markerregular';

    font-weight: normal;
    color: #57075F;
}
strong {
    font-weight: bold;
    color: #57075F;
}

h1 {
    font-size: 3.6em;
    line-height: 1.1;
}
h2 {
    font-size: 2em;
    margin-top: 0;
}
@media only screen and (max-width: 40em) {
    h1 {
        font-size: 3em;
    }
}

/**
 * Layout
 */
.page-container {
    max-width: 62em;
    margin: 0 auto;
    padding: 2em;
}

.container {
    background-color: rgba(255, 255, 255, 0.85);
    padding: 2em;
    margin-bottom: 2em;
    /*border-bottom: 2px solid #57075F;*/
}
.container + .container {margin-top: 2em;}

/**
 * Header
 */

@media only screen and (min-width: 40em) {
    header.container {
        background-image: url(../img/logo_no.png);
        /*background-size: 90%;*/
        background-repeat: no-repeat;
        background-position: 95% center;
        padding-right:  200px;
    }
}
h1 {
    margin: 0;
}
header p {
    font-size: 1.2em;
    font-style: italic;
}


/**
 * Hero
 */
/*.hero {
    font-size: 2em;
    padding: 1em;
    font-family: 'permanent_markerregular';
    color: #57075F;

    background: #333;
    color: #ddd;
    border: 1em solid #7A2200;
    border-radius: 0.5em;
}
.hero strong {
    display: inline-block;
    vertical-align: baseline;
    font-size: 1.5em;
    color: #f6f6f6;
}*/
.hero {
    font-size: 1.2em;
    /*background: rgba(255, 255, 255, 0.9);*/
}
.hero ul {padding-left: 0.5em;}
.hero ul li {
    list-style:none;
    padding-left: 1.5em;
}
.hero ul li:before {
    content: "➜";
    display: block;
    float: left;
    margin-left: -1.5em;
    color: #57075F;
}
.hero ul li + li {margin-top: 1em;}

/**
 * Main content
 */
section article {
    display: inline-block;
    vertical-align: top;
    width: 49%;
    padding-right: 1em;
}
section article + article {
    padding-right: 0;
    padding-left: 1em;

}

.call-to-action {text-align: center;}
.call-to-action a {
    display: inline-block;
    padding: 0.5em;
    font-weight: bold;
    background: #57075F;
    color: #fff;
    border: 5px solid #57075F;
    border-radius: 0.5em;
    text-transform: uppercase;
}
.call-to-action a:hover {
    background: #fff;
    color: #57075F;
    text-decoration: none;
}

.readmore {
    text-align: right;
    /*font-weight: bold;*/
    font-size: 1.2em;
    font-family: 'permanent_markerregular';
}

.big {
    font-size: 1.2em;
    color: #57075F;
    font-weight: bold;
}
@media only screen and (min-width: 30em) {
    .big {
        padding-right: 20%;
    }
}


.thanks {
    color: #fff;
    padding: 2em;
    margin: 2em 0;
    line-height: 2;
}
@media only screen and (min-width: 50em) {
    .thanks {
        padding-left: 52%;
    }
}


footer {
    background: rgba(255, 255, 255, 0.85);
    text-align: center;
    padding: 1em;
    margin-top: 10em;
    font-size: 0.8em;
}
footer p {margin: 0;}
footer p + p {margin-top: 0.5em;}



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}